/* Defining the custom property */
:root {
    --primary: #fff;

}

.add-btn,
.download-report {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.add-btn:hover,
.download-report:hover {
    background: #f7c08a;
    color: #333;
    transition: all 0.5s ease;
}

.download-report {
    margin-left: 10px;
}