.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




/* OUR STYLE: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling: */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #fff;
  text-decoration: none;
  /*להורדת קו תחתון*/

}

h1,
h2,
h3 {
  padding-bottom: 20px;

}

p {
  margin: 10px 0;
  /* 10px for the top and bottom and 0 for the left and right*/

}

/* Utility classes: */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;

}

.bg-light {
  background: #f4f4f4;
  color: #333;

}

.bg-primary {
  background: #f7c08a;
  color: #333;

}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
}

/* Padding: */
.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

/* Navbar: */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  /*להורדת הנקודות של הרשימה*/
  float: right;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover,
#navbar li a.current {
  background: #444;
  color: #f7c08a;
}




/* FROM THE GUIDE!! */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.about {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.report {
  /*background-image: url('/images/img-2.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  /*background-image: url('/images/img-1.jpg');*/
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}